---
---

@import "{{ site.theme }}";

.inner {
   max-width: 50%;
}

.outer {
   max-width: 100%;
}

@media only screen and (max-width: 1200px) {
  .inner {
    max-width: 100%;
    min-width: 100%;
  }
}
